.userInput {
  width: 350px;
  height: 5vh;
  border: 1 px solid black;
  border-radius: 10px;
}

.wrapper {
  border: 1px solid black;
  box-shadow: 2px 2px 15px black;
  border-radius: 10px;
  width: 800px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addButton {
  margin-left: 2%;
  border-radius: 10px;
  padding: 1%;
  font-weight: bolder;
}
.taskWrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 2%;
  border: 1px solid grey;
  box-shadow: 2px 2px 10px grey;
  width: 400px;

}
.taskWrapper:hover{
  transform: scale(1.1);

}
.badge{
  position: absolute;
  background-color: grey;
  border-radius: 10px;
  font-weight: bolder;
  color: aliceblue;
  padding: 5px;
  margin: 1%;
  right: 0;
  top: 0;
}

.userInputWrapper{
  display: flex;
}
.task{
  width: 100px;
}